*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color:rgb(190, 236, 190);
    overflow: hidden;
}
.button1 {
    background-color:rgb(74, 96, 96);
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-color:white;
    border-radius:15px;
    margin:10px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3px;
    /* border:2px solid black; */
    box-shadow:1px 2px 2px black;
}
main{
    height:80%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:lavender;
    gap: 28px;
    padding:10PX;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
}
.p{
     width:500px;
     height:200px;
     background-color:rgb(155, 155, 76);
    box-shadow: 1px 4px 2px black;
    border-radius:5px;
    overflow: hidden;
}
.p h2{
        padding-block:10px;
        background-color: black;
        color:white;
        text-align: center;
}
#i{
  width:80%;
  outline: none;
  padding: 10px;
  margin-top:70px;
}
.p form{
    display: flex;
    height:60px;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    gap:10px;
}
.button2{
    background-color:black;
    color: white;
    padding:10px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.t{
    display: flex;
    justify-content: space-around;
    padding:10px;
    
}
.n{
    height:60%;
    width:98%;
    /* margin:80px; */
    margin-right:10px;
    margin-left: 10px;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3px;
    flex-direction: column;
}

.k{
    display: flex;
    justify-content: space-between;
    margin-left:50px;
    margin-right:50px;
    height:30px;
    width:200px;
    padding:50px;
    border-radius:20px;
    cursor: pointer;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    box-shadow:1px 4px 4px;
}
.l{
    margin-top: 10px;
}
.l div{
    display: flex;
    justify-content: space-between;
    gap:760px;
    }
    
    .l input[type="search"]{
        font-style: italic;
        padding-inline: 10px;
        outline: none;
        border-radius: 5px;
        width:350px;
    }
    .btn1 {
        background-color:rgb(146, 221, 146);
        color: black;
        padding: 10px 20px; 
        border-radius: 15px;
       left:200px;
        cursor: pointer;
        border: none;
        border:2px solid rgb(134, 196, 134);
        box-shadow:2px 1px;
    
    }
    .q{
        margin-top:5px;
    }
    .l table{
        width: 90%;
        text-align: center;
        margin-inline: auto;
        margin-top: 20px;
    border-radius: 5px;
        border-collapse: separate;
        border-spacing: 0px;
        border: 1px solid gray;
    }
    
    table thead{
        background-color:rgb(147, 184, 147);
        border-radius: 5px;
    }
    table td,th{
        padding-block: 5px;
        border:1px solid rgb(127, 161, 127);
    }
    a{
        width: 100%;
        display: block;
        height: 100%;
        text-decoration: none;
        display: contents;
    }
    a:active{
        color: black;
    }